.attempt {
  color: #083344 !important;
}

.main-heading {
  color: #083344 !important;
  font-weight: bold;
  font-size: 25px;
}

.card-shadow {
  background-color: white !important;
  z-index: 100;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 500px;
  /* width: 100%; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.thankx .main {
  font-size: 25px;
  font-weight: bold;
}

.thankx .main-2 {
  /* font-style: italic; */
  font-size: 20px;
}

.card-shadow2 {
  background-color: white !important;
  z-index: 100;
  padding: 20px;
  /* border-radius: 20px; */
  width: 800px !important;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.card-shadow q {
  font-size: 14px;
}

.card-shadow p {
  font-size: 15px;
}

.card-shadow .time-stamp {
  font-size: 15px;
}

.attempt .card-shadow label {
  font-size: 13px;
}

.my-shadow {
  position: absolute;
  bottom: 50px;
  right: 50px;
  box-shadow: 30px 200px 100vw 100vh #0833444e;
}

.timer {
  /* position: fixed;
  right: 24px;
  top: 54px; */
  height: 40px;
  width: 150px;
  z-index: 10000;
  border-radius: 10px;
  /* background-color:  !important; */
  /* background-color: white !important; */
  color: #083344;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.timer span {
  font-size: 15px;
}

.radio-list-group {
  width: 100%;
}

.radio-list-group .radio-list-item {
  display: block;

  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 10px;

  margin-bottom: 10px;
  transition: background-color 0.3s;
}

.radio-list-group .radio-list-item:hover {
  background-color: #f5f5f5;
}

.full-width-radio {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 17px;
}

.full-width-radio .ant-radio {
  margin-right: 8px;
}

.table-box {
  height: 500px;
  overflow-y: scroll;
}

.trend-area-chart {
  width: 100%;
  height: 400px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.trend-area-chart::-webkit-scrollbar {
  height: 10px;
  border: 1px solid #d5d5d5;
  border-radius: 10px;
}

.trend-area-chart::-webkit-scrollbar-thumb:horizontal {
  background: #164e63;
  border-radius: 10px;
}

.table-box::-webkit-scrollbar {
  width: 10px;
  border: 1px solid #d5d5d5;
  border-radius: 10px;
}

.table-box::-webkit-scrollbar-thumb:vertical {
  background: #164e63;
  border-radius: 10px;
}

/* .home{
  animation:  ease-in-out;
} */

/* SURVEY */
.survey {
  display: flex;
  justify-content: center;
  align-items: center;
}

.survey .its-container {
  width: 600px;
  min-height: 100vh;
  padding-top: 10px;
  padding: 10px;
}

.survey-text {
  background-color: transparent;
  outline: none !important;
  border-radius: 0;
  border-bottom: 2px solid #164e63;
  border-top: none;
  border-right: none;
  border-left: none;
  /* border: none !important; */
}
