.landing-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.landing-page i {
  text-align: center;
}

.landing-page h1 {
  color: #083344;
  font-size: 100px;
  font-weight: bolder;
}

.loginBtn {
  color: #083344 !important;
  background-color: white;
  /* width: 100px !important; */
  border-radius: 10px;
  padding: 5px 10px;
}

.registerBtn {
  background-color: #083344 !important;
  color: white;
  /* width: 150px !important; */
  border-radius: 10px;
  padding: 5px 10px;
}

@media only screen and (max-width: 600px) {
  .landing-page h1 {
    font-size: 50px;
  }
}
