@font-face {
  font-family: "RethinkSans";
  /* src: url("./font/RethinkSans-Italic-VariableFont_wght.ttf") format("truetype"), */
  src: url("./fonts/RethinkSans-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "RethinkSans", sans-serif !important;
  font-size: 15px;
}

.zinc-800 {
  color: #18181b;
}

.zinc-600 {
  color: #52525b;
}

/* antd  */
.ant-input:focus {
  border-color: #000000 !important;
}

.ant-input:hover {
  border-color: #000000 !important;
}

.ant-input-password:focus {
  border-color: #000000 !important;
}

.ant-input-password:hover {
  border-color: #000000 !important;
}

.ant-btn:hover {
  border-color: #000000 !important;
}

.withoutQuestion {
  border: 1px solid red !important;
}

.myBtn {
  background-color: black;
  color: white;
}

.deleteBtn {
  background-color: black;
  color: white;
}

.deleteBtn:hover {
  color: rgb(246, 86, 86) !important;
}

.dottedBtn {
  border-style: dashed !important;
  border: 1px solid black;
}

.lightgrey-bg {
  background-color: #d3d3d324;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(204, 204, 204, 0.5); /* semi-transparent black */
  z-index: 2; /* allows clicks to pass through to underlying elements; remove if you want to block all interactions */
}

.premium_settings_container {
  position: relative;
  padding: 10px;
  margin-bottom: 10px;
  /* display: inline-block; */
}

.preBtn {
  background-color: #93c5fd !important;
  color: #083344 !important;
  font-weight: bold;
}

.successfullpayment {
  max-width: 800px;
}

.successfullpayment .main {
  font-size: x-large;
  font-weight: 600;
}

.hero-nav {
  position: relative;
}


