.services-section {
  position: relative;
  margin-bottom: 300px;
  height: 400px;
  background-color: #083344;
}

.myrow {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* // gap: 50px !important; */
  padding: 0px 90px;
}

.services-section .col-5 {
  height: 600px !important;
  margin-top: 50px;
  width: 100%;
  /* background-color: red; */
}

.col-5 img {
  border: none !important;
}

.col-5 .inner {
  height: 90%;
  position: relative;
  border-radius: 10px;
}

.col-5 .inner .thisBtn {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
  /* background-color: red; */
}

.services-section .col-5 .second-col {
  /* // margin-top: 200px; */
}

@media only screen and (max-width: 992px) {
  .services-section {
    height: 1000px;
  }

  .para {
    color: white !important;
  }

  .myrow {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* gap: 50px !important; */
  }

  .services-section .second-col {
    margin-top: 0px;
  }
  .services-section .col-5 {
    width: 350px;
  }
}
