body {
  font-family: "PingFang SC", -apple-system, BlinkMacSystemFont, "Segoe UI", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5 {
  color: #083344 !important;
}

.dimWhite {
  color: #bebebe;
}

.boxShadow1 {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* buttons */

.myBtn {
  background-color: black;
  color: white;
}

.deleteBtn {
  background-color: black;
  color: white;
}

.deleteBtn:hover {
  color: rgb(246, 86, 86) !important;
}

.dottedBtn {
  border-style: dashed !important;
  border: 1px solid black;
}

.primaryBtn {
  background: linear-gradient(to right, #06b6d4, #083344) !important;
  height: 42px;
  line-height: 42px;
  font-size: 14px;
  border: 0;
  border-radius: 21px;
  color: #fff;
  padding: 0 15px;
  display: inline-block;
  transition: transform 0.3s, box-shadow 0.3s;
}

.googleBtn {
  background: white !important;
  height: 42px;
  border: 0;
  border-radius: 21px;
  border: 1px solid rgba(0, 0, 0, 0.488);
  /* color: #fff; */
  padding: 0 15px;
  display: inline-block;
  display: flex;
  gap: 10px;
  align-items: center;
}

.googleBtn:hover {
  /* color: white !important; */
}

.secondaryBtn {
  background: white;
  color: #083344;
  height: 42px;
  line-height: 42px;
  font-size: 14px;
  border: 0;
  border-radius: 21px;
  padding: 0 15px;
  display: inline-block;
  transition: transform 0.3s, box-shadow 0.3s;
}

.linearBg {
  background: linear-gradient(to right, #083344, #06b6d4) !important;
  color: #fff;
  cursor: pointer;
}

.drawerLinearBg {
  /* background: #083344 !important;
  color: #fff; */
}

.linearBgRounded {
  padding: 20px !important;
  border-radius: 30px;
  background: linear-gradient(to right, #083344, #06b6d4) !important;
  color: #fff;
  cursor: pointer;
}

.linearBgRoundedSecondary {
  padding: 20px !important;
  border-radius: 30px;
  border: 2px solid linear-gradient(to right, #083344, #06b6d4) !important;
  color: #083344;
  cursor: pointer;
}

.primaryBtn:hover {
  transform: translateY(-4px);
  color: white !important;
}
.primaryBtn:active {
  transform: translateY(4px);
  box-shadow: 0 4px 8px #164e63;
}

.lightgrey-bg {
  background-color: #7899ca24;
}

.withoutQuestion {
  border: 1px solid red !important;
}

/* Commons End */

/* antd start */
.ant-input:focus {
  border-color: #000000 !important;
}

.ant-input:hover {
  border-color: #000000 !important;
}

.ant-input-password:focus {
  border-color: #000000 !important;
}

.ant-input-password:hover {
  border-color: #000000 !important;
}

.ant-btn:hover {
  border-color: #000000 !important;
}

.ant-image-mask {
  background: rgba(0, 0, 0, 0) !important;
  color: #083344 !important;
  font-size: large;
  font-weight: bold !important;
}

.ant-radio-wrapper:hover .ant-radio-inner,
.ant-radio-checked .ant-radio-inner {
  color: red !important;
  border-color: 2px solid #0e7490 !important;
}

.ant-radio-checked .ant-radio-inner::after {
  /* background-color: red !important; */
  /* background-color: #0e7490; Color of the inner circle */
}

.ant-checkbox-inner::after {
  border-color: #0e7490;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #0e7490;
  border-color: #0e7490;
}

/* .ant-slider-track,
.ant-slider-dot-active {
  background-color: #0e7490 !important;
}

.ant-slider-handle {
  border: solid 0.01rem #0e7490 !important;
} */

.ant-slider-track,
.ant-slider-dot-active {
  background-color: #0e7490 !important; /* Color of the slider track */
}

.ant-slider-handle:not(.ant-tooltip-open) {
  border-color: #0e7490 !important; /* Color of the slider handle */
}

.ant-slider-handle:focus,
.ant-slider-handle:hover {
  border-color: #0e7490 !important; /* Color of the handle on hover/focus */
}

.ant-slider-handle:active {
  box-shadow: 0 0 0 5px rgba(14, 116, 144, 0.5) !important; /* Shadow color when active */
}

/* .rate-icons {
  color: rgba(0, 0, 0, 0.589) !important;
} */

/* antd ends */

/* premium  start*/

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(204, 204, 204, 0.5); /* semi-transparent black */
  z-index: 2; /* allows clicks to pass through to underlying elements; remove if you want to block all interactions */
}

.premium_settings_container {
  position: relative;
  padding: 10px;
  margin-bottom: 10px;
  /* display: inline-block; */
}

.preBtn {
  background-color: #93c5fd !important;
  color: #083344 !important;
  font-weight: bold;
}

.successfullpayment {
  max-width: 800px;
}

.successfullpayment .main {
  font-size: x-large;
  font-weight: 600;
}

/* premium  end */

/* rich editor start */
.ql-toolbar.ql-snow {
  border-radius: 10px !important;
}

.ql-container {
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;

  min-height: 100px;
}
/* rich editor end */

/* image grid start */

/* end of image grid */

/* HOME PAGE (LANDING PAGE) */

.light-bg {
  background-color: #ecf3fe;
}

.form-component-item {
  height: 400px;
  min-width: 250px;
}

.form-component-item .heading {
  font-size: 20px;
  font-weight: 500;
}

.form-component-item .survey-text {
  background-color: transparent !important;
}

.form-component {
  overflow-x: scroll;
  scrollbar-width: none;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #155e75;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #155e75;
}

/* srvy-stats */

.srvy-stats {
  height: 100vh;
}

.most-selected-data {
  height: 300px;
}
.average-rating-data {
  height: 300px;
  overflow-y: scroll;
}

/* search input */
#searchinput {
  /* background-color: transparent !important; */
  /* border-top: none;
  border-left: none;
  border-right: none; */
  /* border-radius: 0 !important; */
  outline: none !important;
  /* font-weight: bold; */
  /* font-size: 18px; */
}

#searchQuiz .ant-btn {
  /* background-color: transparent !important;
  color: #155e75;
  font-size: large; */
}

#reponses-model {
  background-color: lightblue !important;
}

/* Filter drawer */
#filterDrawer .ant-drawer-header {
  background-color: #083344 !important;
  color: white !important;
}

#filterDrawer .ant-drawer-close {
  color: white !important;
}

#filterDrawer .title {
  color: white !important;
}

/* RATE */
.ant-rate-star:not(.ant-rate-star-full):not(.ant-rate-star-half) .ant-rate-star-first,
.ant-rate-star:not(.ant-rate-star-full):not(.ant-rate-star-half) .ant-rate-star-second {
  color: #b3b3b3 !important; /* Set to a darker shade of gray */
}

/* Mobile Drawer */
.ant-drawer-header-title .mobile-drawer {
  background-color: red !important;
}

/* UPLOAD */
:where(.css-dev-only-do-not-override-3rel02).ant-upload-wrapper.ant-upload-picture-card-wrapper .ant-upload.ant-upload-select,
:where(.css-dev-only-do-not-override-3rel02).ant-upload-wrapper.ant-upload-picture-circle-wrapper .ant-upload.ant-upload-select {
  width: 100% !important;
  margin-top: 10px;
  height: 200px;
  /* background-color: red !important; */
}
